* {
  list-style: none;
  text-decoration: none;
}

img {
  margin: auto;
  max-width: 100%;
}

body {
  --buttonFont: #fff;
  --inputFont: #000;
  --headerBg: #909090;
  --logoFont: #fff;
  --base: rgb(225, 220, 225);
  --baseFont: blue;
  --boxShadow: #000;
  --inputBoxShadow: #fff;
  --buttonBoxShadow: #fff;
  --inputBg: #909090;
  --footerFont: #fff;
  --themeBoxShadow: 0 0 2em 0 #000 inset;
  --themeBg: #fff;
  --themeFont: #000;
  --navBg: #909090;
  --navBoxShadow: 0 0 1em 0 #151515 inset;
  --navBorderCol: var(--headerBg);
}

body.dark {
  --navBorderCol: #fff;
  --navBg: #151515;
  --navBoxShadow: 0 0 1em 0 #fff inset;
  --themeFont: #fff;
  --themeBoxShadow: 0 0 1em 0 #fff inset;
  --themeBg: #000;
  --buttonFont: #fff;
  --inputFont: #000;
  --headerBg: #909090;
  --logoFont: #fff;
  --base: #000;
  --baseFont: #fff;
  --boxShadow: #fff;
  --inputBoxShadow: #fff;
  --buttonBoxShadow: #fff;
  --inputBg: #909090;
  --footerFont: #151515;
}

.main_container {
  width: 100%;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

.main_container #container {
  margin: auto;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_container #container #filter {
  -webkit-box-shadow: 0 0 1em var(--boxShadow);
          box-shadow: 0 0 1em var(--boxShadow);
  width: 100%;
  margin: auto;
  margin-bottom: 2em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_container #container #filter #filter_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_container #container #filter #filter_part #filter_icon {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main_container #container #filter #filter_part #filter_icon .filter_bar {
  border: 2px solid #fff;
  width: 100%;
}

.main_container #container #filter #sign_in_suggestion {
  margin: 1em 0;
}

.main_container #container #levels {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_container #container #levels .level {
  -webkit-box-shadow: 0 0 1em 0 var(--boxShadow) inset;
          box-shadow: 0 0 1em 0 var(--boxShadow) inset;
  margin: auto 0;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_container #container #levels .level h1 {
  padding: 1rem;
  font-size: 1.5rem;
}

.main_container #container #levels .level .resources_area {
  width: 100%;
  -webkit-box-shadow: 0 0 1em var(--boxShadow);
          box-shadow: 0 0 1em var(--boxShadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.main_container #container #levels .level .resources_area li {
  scroll-snap-align: start;
  margin: 0 0.5em;
  min-width: 100%;
}

.main_container #container #levels .level .resources_area li .resource_data {
  -webkit-box-shadow: 0 0 1em 0 var(--boxShadow) inset;
          box-shadow: 0 0 1em 0 var(--boxShadow) inset;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_name {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .images {
  -webkit-box-shadow: 0 0 1em var(--boxShadow);
          box-shadow: 0 0 1em var(--boxShadow);
  margin: 0 0.2em;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .images .player {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .images .player img {
  width: 100%;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .images .suggested_container {
  width: 100%;
  -webkit-box-shadow: 0 0 1em var(--boxShadow) inset;
          box-shadow: 0 0 1em var(--boxShadow) inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .images .suggested_container ul {
  overflow: hidden;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .images .suggested_container ul li {
  scroll-snap-align: start;
  min-width: 50%;
  display: inline-block;
  margin: auto 0.5em;
  -webkit-box-shadow: 0 0 1em var(--boxShadow);
          box-shadow: 0 0 1em var(--boxShadow);
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .images .suggested_container ul li a {
  width: 100%;
  height: 100%;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .images .suggested_container ul li a img {
  width: 100%;
  height: 100%;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .description {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .description .provider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .description .provider .provider_logo {
  max-width: 15%;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .description .provider .provider_logo img {
  max-width: 100%;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .description .provider .provider_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .description .some_text {
  font-size: 1rem;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .description .prerequisites {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_container #container #levels .level .resources_area li .resource_data .resource_intro .description .prerequisites li {
  margin: auto;
}

.main_container #container #levels #intermediate {
  margin: 2em 0;
}

@media (min-width: 750px) {
  body .main_container #container #levels .level .resources_area .resources .resource_data .resource_intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .main_container #container #levels .level .resources_area .resources .resource_data .resource_intro .images {
    margin-right: 1em;
    max-width: 60%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body .main_container #container #levels .level .resources_area .resources .resource_data .resource_intro .images .suggested_container ul li {
    min-width: 40%;
  }
  body .main_container #container #levels #intermediate .resources .resource_intro .images {
    margin-left: 1em;
  }
  body .main_container #container #levels #intermediate .resources .resource_intro .description {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/*# sourceMappingURL=first_page.css.map */