*{
    list-style: none;
    text-decoration: none;
}


img{
    margin: auto;
    max-width: 100%;
}


body{
    --buttonFont : #fff;
    --inputFont : #000;
    --headerBg : #909090;
    --logoFont : #fff;
    --base : rgb(225, 220, 225);
    --baseFont : blue;
    --boxShadow : #000;
    --inputBoxShadow : #fff;
    --buttonBoxShadow : #fff;
    --inputBg: #909090;
    --footerFont : #fff;

    --themeBoxShadow : 0 0 2em 0 #000 inset;
    --themeBg : #fff;
    --themeFont : #000;

    --navBg : #909090;
    --navBoxShadow : 0 0 1em 0 #151515 inset;

    --navBorderCol : var(--headerBg);
}

body.dark{

    --navBorderCol : #fff;

    --navBg : #151515;
    --navBoxShadow : 0 0 1em 0 #fff inset;

    --themeFont : #fff;
    --themeBoxShadow : 0 0 1em 0 #fff inset;
    --themeBg : #000;
    --buttonFont : #fff;
    --inputFont : #000;
    --headerBg : #909090;
    --logoFont : #fff;
    --base : #000;
    --baseFont : #fff;
    --boxShadow : #fff;
    --inputBoxShadow : #fff;
    --buttonBoxShadow : #fff;
    --inputBg: #909090;
    --footerFont : #151515;
}


.main_container{
    width:100%;
    padding: 1em 0;
    display: flex;
    overflow-x: hidden;
    
    #container{
        margin: auto;
        width: 90%;
        flex-direction: column;

        #filter{
            box-shadow: 0 0 1em var(--boxShadow);
            width: 100%;
            margin: auto;
            margin-bottom: 2em;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            #filter_part{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                #filter_icon{
                    margin: auto;
                    max-width: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    .filter_bar{
                        border: 2px solid #fff;
                        width: 100%;
                    }
                }
            }

            #sign_in_suggestion{
                margin: 1em 0;
            }
        }

        #levels{
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            
            .level{
                box-shadow: 0 0 1em 0 var(--boxShadow) inset;
                margin: auto 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                
                h1{
                    padding: 1rem;
                    font-size: 1.5rem;
                }
                
                .resources_area{
                    width: 100%;
                    box-shadow: 0 0 1em var(--boxShadow);
                    display: flex;
                    align-items: center;
                    overflow-x: scroll;
                    scroll-snap-type: x mandatory;

                    .resources{
                        box-shadow: 0 0 1em var(--boxShadow) inset;
                        scroll-snap-align: center;
                        margin: 0 0.5em;
                        min-width: 100%;

                        .resource_name{
                            text-align: center;
                            font-size: 1.5rem;
                            margin: 0.5rem 0;
                        }
    
                        .resource_container{
                            box-shadow: 0 0 1em var(--boxShadow);
                            overflow: hidden;
                            overflow-x: scroll;
                            scroll-snap-type: x mandatory;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            .resource_details{
                                border-right: 2px solid var(--boxShadow);
                                scroll-snap-align: center;
                                min-width: 100%;
                                display: flex;
                                flex-direction: column;
                                margin: auto 0.5em;

                                .demo_player{
                                    width: 100%;
                                    height: 100%;
                                }

                                .description{
                                    margin:  0.5em 1em;
                                    display: flex;
                                    flex-direction: column;
        
                                    .provider{
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-around;
                                        
                                        .provider_logo{
                                            max-width: 15%;
        
                                            img{
                                                max-width: 100%;
                                            }
                                        }
        
                                        .provider_name{
                                            display: flex;
                                            align-items: center;
                                            font-size: 1.3rem;
                                        }
                                    }
        
                                    .some_text{
                                        font-size: 1rem;
                                    }
        
                                    .prerequisites{
                                        font-size: 1rem;
                                        display: flex;
                                        flex-direction: row;
                                        flex-wrap: wrap;
        
                                        li{
                                            margin: auto;
                                        }
                                    }

                                    .course_action{
                                        margin-top: 1em;
                                        display: flex;
                                        justify-content: space-around;

                                        .is_fav{
                                            border-radius: 100%;
                                            color: var(--buttonFont);
                                            font-size: 1em;
                                            box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
                                            padding: 0.5rem 1rem;
                                            background: #909090;
                                            text-align: center;
                                            transition: 0.2s ease;
                                        }

                                        .is_fav:focus, .is_fav:hover{
                                            box-shadow: 0 0 1em 0 rgba($color: red, $alpha: 1);
                                            background: rgba($color: red, $alpha: 0.8);
                                        }

                                        .add_to_list{
                                            color: var(--buttonFont);
                                            font-size: 1.1rem;
                                            box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
                                            padding: 0.5rem 1rem;
                                            background: #909090;
                                            text-align: center;
                                            transition: 0.2s ease;
                                        }

                                        .add_to_list:focus, .add_to_list:hover{
                                            box-shadow: 0 0 1em 0 rgba($color: blue, $alpha: 0.5);
                                            background: rgba($color: blue, $alpha: 0.5);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .start_from_level{
                    color: var(--buttonFont);
                    font-size: 1em;
                    box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
                    padding: 0.5rem 1rem;
                    background: #909090;
                    text-align: center;
                    transition: 0.2s ease;
                }

                .start_from_level:focus, .start_from_level:hover{
                    box-shadow: 0 0 1em 0 rgba($color: rgb(200, 200, 150), $alpha: 1);
                    background: rgba($color: rgb(200, 200, 150), $alpha: 0.8);
                }
            }

            #intermediate{
                margin:2em 0;
            }
        }
    }
}








@media (min-width:900px){
    body{
        
        .main_container{

            #container{

                #levels{

                    .level{

                        .resources_area{

                            .resources{
                                min-width: 100%;

                                .resource_container{

                                    .resource_details{
                                        flex-direction: row;
                                        min-width: 100%;

                                        .demo_player{
                                            flex: 3;
                                        }

                                        .description{
                                            flex: 2;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #intermediate{
                        
                        .resources{

                            .resource_container{

                                .resource_details{

                                    .demo_player{
                                        order: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
