* {
  list-style: none;
}

.main_container {
  width: 100%;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}

.main_container #container {
  margin: auto;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_container #container #filter {
  -webkit-box-shadow: 0 0 1em var(--boxShadow);
          box-shadow: 0 0 1em var(--boxShadow);
  width: 100%;
  margin: auto;
  margin-bottom: 2em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_container #container #filter #filter_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_container #container #filter #filter_part #filter_icon {
  margin-left: auto;
}

.main_container #container #filter #filter_part #filter_icon .filter_bar {
  margin: 3px 0;
  border: 2px solid #fff;
  background: #fff;
  width: 24px;
}

.main_container #container #filter #filter_part #filter_icon:focus, .main_container #container #filter #filter_part #filter_icon:hover {
  -webkit-box-shadow: 0 0 1em var(--boxShadow);
          box-shadow: 0 0 1em var(--boxShadow);
}

.main_container #container #filter #sign_in_suggestion {
  margin: 1em 0;
}

.main_container #container #levels {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_container #container #levels .level {
  -webkit-box-shadow: 0 0 1em 0 var(--boxShadow) inset;
          box-shadow: 0 0 1em 0 var(--boxShadow) inset;
  margin: auto 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_container #container #levels .level h1 {
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #909090;
}

.main_container #container #levels .level .guide_text {
  color: #909090;
  padding: 1em;
}

.main_container #container #levels .level .resources_area {
  -webkit-box-shadow: 0 0 1em var(--boxShadow);
          box-shadow: 0 0 1em var(--boxShadow);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.main_container #container #levels .level .resources_area .more_data_resources {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
}

.main_container #container #levels .level .resources_area .more_data_resources .fetching_data_text {
  border: 2px solid yellowgreen;
  outline: 0;
  padding: 0.5rem;
  position: absolute;
  top: 25%;
  left: 31%;
}

.main_container #container #levels .level .resources_area .resources {
  -webkit-box-shadow: 0 0 0.5em var(--boxShadow) inset;
          box-shadow: 0 0 0.5em var(--boxShadow) inset;
  scroll-snap-align: center;
  margin: 0 0.5em;
  min-width: 100%;
}

.main_container #container #levels .level .resources_area .resources .resource_name {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.main_container #container #levels .level .resources_area .resources .more_data_resource_name {
  margin: 0.65rem auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1rem 5rem;
  -webkit-box-shadow: 0 0 1.5rem var(--MoreDataBoxShadow) inset;
          box-shadow: 0 0 1.5rem var(--MoreDataBoxShadow) inset;
}

.main_container #container #levels .level .resources_area .resources .resource_container {
  -webkit-box-shadow: 0 0 1em var(--boxShadow);
          box-shadow: 0 0 1em var(--boxShadow);
  border-right: 2px solid var(--boxShadow);
  overflow: hidden;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details {
  scroll-snap-align: center;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 0.5em;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .demo_player {
  width: 100%;
  min-height: 56%;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .more_data_demo_player {
  -webkit-box-shadow: 0 0 7em var(--MoreDataBoxShadow) inset;
          box-shadow: 0 0 7em var(--MoreDataBoxShadow) inset;
  padding: 5em 0;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description {
  margin: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .provider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .provider .provider_logo {
  max-width: 15%;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .provider .provider_logo img {
  border-radius: 100%;
  max-width: 100%;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .provider .more_data_provider_logo {
  margin: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1.25rem;
  -webkit-box-shadow: 0 0 1.25rem var(--MoreDataBoxShadow) inset;
          box-shadow: 0 0 1.25rem var(--MoreDataBoxShadow) inset;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .provider .provider_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .provider .more_data_provider_name {
  margin: 0.65rem auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0.65rem 5rem;
  -webkit-box-shadow: 0 0 1rem var(--MoreDataBoxShadow) inset;
          box-shadow: 0 0 1rem var(--MoreDataBoxShadow) inset;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .some_text {
  color: #909090;
  padding: 1rem 0;
  font-size: 1rem;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .more_data_some_text {
  margin: 0.5rem auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 3rem 9rem;
  -webkit-box-shadow: 0 0 4rem var(--MoreDataBoxShadow) inset;
          box-shadow: 0 0 4rem var(--MoreDataBoxShadow) inset;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .prerequisites {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .prerequisites li {
  margin: auto;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .more_data_prerequisites {
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1.2rem 6rem;
  -webkit-box-shadow: 0 0 1.7rem var(--MoreDataBoxShadow) inset;
          box-shadow: 0 0 1.7rem var(--MoreDataBoxShadow) inset;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .course_action {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .course_action .is_fav {
  border-radius: 100%;
  color: var(--buttonFont);
  font-size: 1em;
  -webkit-box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
          box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
  padding: 0.5rem 1rem;
  background: #909090;
  text-align: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .course_action .is_fav:focus, .main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .course_action .is_fav:hover {
  -webkit-box-shadow: 0 0 1em 0 red;
          box-shadow: 0 0 1em 0 red;
  background: rgba(255, 0, 0, 0.8);
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .course_action .add_to_list {
  color: var(--buttonFont);
  font-size: 1.1rem;
  -webkit-box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
          box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
  padding: 0.5rem 1rem;
  background: #909090;
  text-align: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .course_action .add_to_list:focus, .main_container #container #levels .level .resources_area .resources .resource_container .resource_details .description .course_action .add_to_list:hover {
  -webkit-box-shadow: 0 0 1em 0 rgba(0, 0, 255, 0.5);
          box-shadow: 0 0 1em 0 rgba(0, 0, 255, 0.5);
  background: rgba(0, 0, 255, 0.5);
}

.main_container #container #levels .level .resources_area .resources .more_data_resource_container {
  overflow-x: hidden;
}

.main_container #container #levels .level .start_from_level {
  color: var(--buttonFont);
  font-size: 1em;
  -webkit-box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
          box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
  padding: 0.5rem 1rem;
  background: #909090;
  text-align: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.main_container #container #levels .level .start_from_level:focus, .main_container #container #levels .level .start_from_level:hover {
  -webkit-box-shadow: 0 0 1em 0 #c8c896;
          box-shadow: 0 0 1em 0 #c8c896;
  background: rgba(200, 200, 150, 0.8);
}

.main_container #container #levels #intermediate {
  margin: 2em 0;
}

@media (min-width: 900px) {
  body .main_container #container #levels .level .resources_area .more_data_resources .fetching_data_text {
    top: 50%;
    left: 44%;
  }
  body .main_container #container #levels .level .resources_area .resources {
    min-width: 100%;
  }
  body .main_container #container #levels .level .resources_area .resources .resource_container .resource_details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 100%;
  }
  body .main_container #container #levels .level .resources_area .resources .resource_container .resource_details .demo_player {
    width: 64%;
    min-height: 36%;
  }
  body .main_container #container #levels .level .resources_area .resources .resource_container .resource_details .more_data_demo_player {
    -webkit-box-shadow: 0 0 10em var(--MoreDataBoxShadow) inset;
            box-shadow: 0 0 10em var(--MoreDataBoxShadow) inset;
    margin: auto;
    max-width: 60%;
    padding: 10em 0;
  }
  body .main_container #container #levels .level .resources_area .resources .resource_container .resource_details .more_data_description {
    margin: 1rem auto;
  }
  body .main_container #container #levels .level .resources_area .resources .resource_container .resource_details .more_data_description .more_data_some_text {
    padding: 5rem 10em;
    -webkit-box-shadow: 0 0 5rem var(--MoreDataBoxShadow) inset;
            box-shadow: 0 0 5rem var(--MoreDataBoxShadow) inset;
  }
  body .main_container #container #levels #intermediate .resources .resource_container .resource_details .demo_player {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/*# sourceMappingURL=first_page.css.map */