*{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

.main_container{
    width:100%;
    padding: 1em 0;
    display: flex;
    overflow-x: hidden;
    
    #container{
        margin: auto;
        width: 90%;
        flex-direction: column;

        #filter{
            box-shadow: 0 0 1em var(--boxShadow);
            width: 100%;
            margin: auto;
            margin-bottom: 2em;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            #filter_part{
                display: flex;

                #filter_icon{
                    margin-left: auto;

                    .filter_bar{
                        margin: 3px 0;
                        border: 2px solid #fff;
                        background: #fff;
                        width: 24px;
                    }
                }

                #filter_icon:focus, #filter_icon:hover{
                    box-shadow: 0 0 1em var(--boxShadow);
                }
            }

            #sign_in_suggestion{
                margin: 1em 0;
            }
        }

        #levels{
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            
            .level{
                box-shadow: 0 0 1em 0 var(--boxShadow) inset;
                margin: auto 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                
                h1{
                    padding: 1rem;
                    font-size: 1.5rem;
                    border-bottom: 1px solid #909090;
                }

                .guide_text{
                    color: #909090;
                    padding: 1em;
                }

                .for_scroll_btns{
                    position: relative;

                    .prev_btn{
                        z-index: 1;
                        cursor: pointer;
                        box-shadow: 0 0 1em var(--buttonBoxShadow) inset;
                        background: #909090;
                        opacity: 1;
                        position: absolute;
                        margin-left: 0.5rem;
                        left: 0;
                        top: 0;
                        padding: 0.75rem 0;
                        padding-left: 0.3rem;
                        padding-right: 0.55rem;

                        .arrow_top{
                            background: var(--themeFont);
                            width: 24px;
                            height: 6px;
                            transform: rotateZ(-45deg);
                        }
                        
                        .arrow_bottom{
                            margin-top: 8px;
                            background: var(--themeFont);
                            width: 24px;
                            height: 6px;
                            transform: rotateZ(45deg);
                        }
                    }

                    .next_btn{
                        z-index: 1;
                        cursor: pointer;
                        box-shadow: 0 0 1em var(--buttonBoxShadow) inset;
                        background: #909090;
                        opacity: 1;
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-right: 0.5rem;
                        padding: 0.75rem 0;
                        padding-right: 0.35rem;
                        padding-left: 0.55rem;

                        .arrow_top{
                            background: var(--themeFont);
                            width: 24px;
                            height: 6px;
                            transform: rotateZ(45deg);
                        }
                        
                        .arrow_bottom{
                            margin-top: 8px;
                            background: var(--themeFont);
                            width: 24px;
                            height: 6px;
                            transform: rotateZ(-45deg);
                        }
                    }
                    
                    .resources_area{
                        box-shadow: 0 0 1em var(--boxShadow);
                        width: 100%;
                        display: flex;
                        align-items: center;
                        overflow-x: scroll;
                        scrollbar-width: none;
                        scroll-snap-type: x mandatory;
    
                        .more_data_resources{
                            order: 1;
                            position: relative;
    
                            .fetching_data_text{
                                border: 2px solid yellowgreen;
                                outline: 0;
                                padding: 0.5rem;
                                position: absolute;
                                top: 25%;
                                left: 31%;
                            }
                        }
    
                        .resources{
                            box-shadow: 0 0 0.5em var(--boxShadow) inset;
                            scroll-snap-align: center;
                            margin: 0 0.5em;
                            min-width: 100%;
    
                            .resource_name{
                                text-align: center;
                                font-size: 1.5rem;
                                margin: 0.5rem 0;
                            }
    
                            .more_data_resource_name{
                                margin: 0.65rem auto;
                                max-width: fit-content;
                                padding: 1rem 5rem;
                                box-shadow: 0 0 1.5rem var(--MoreDataBoxShadow) inset;
                            }
    
                            
        
                            .resource_container{
                                box-shadow: 0 0 1em var(--boxShadow);
                                border-right: 2px solid var(--boxShadow);
                                overflow: hidden;
                                overflow-x: scroll;
                                scroll-snap-type: x mandatory;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                
                                .resource_details{
                                    scroll-snap-align: center;
                                    min-width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    margin: auto 0.5em;
    
                                    .demo_player{
                                        width: 100%;
                                        min-height: 56%;
                                    }
    
                                    .more_data_demo_player{
                                        box-shadow: 0 0 7em var(--MoreDataBoxShadow) inset;
                                        padding: 5em 0;
                                    }
    
                                    .description{
                                        margin:  0.5em 1em;
                                        display: flex;
                                        flex-direction: column;
            
                                        .provider{
                                            display: flex;
                                            flex-direction: row;
                                            justify-content: space-around;
                                            
                                            .provider_logo{
                                                max-width: 15%;
                                                
                                                img{
                                                    border-radius: 100%;
                                                    max-width: 100%;
                                                }
                                            }
    
                                            .more_data_provider_logo{
                                                border-radius: 100%;
                                                margin: auto;
                                                max-width: fit-content;
                                                padding: 1.25rem;
                                                box-shadow: 0 0 1.25rem var(--MoreDataBoxShadow) inset;
                                            }
            
                                            .provider_name{
                                                display: flex;
                                                align-items: center;
                                                font-size: 1.3rem;
                                            }
    
                                            .more_data_provider_name{
                                                margin: 0.65rem auto;
                                                max-width: fit-content;
                                                padding: 0.65rem 5rem;
                                                box-shadow: 0 0 1rem var(--MoreDataBoxShadow) inset;
                                            }
                                        }
            
                                        .some_text{
                                            color: #909090;
                                            padding: 1rem 0;
                                            font-size: 1rem;
                                        }
    
                                        .more_data_some_text{
                                            margin: 0.5rem auto;
                                            max-width: fit-content;
                                            padding: 3rem 9rem;
                                            box-shadow: 0 0 4rem var(--MoreDataBoxShadow) inset;
                                        }
            
                                        .prerequisites{
                                            font-size: 1rem;
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: wrap;
            
                                            li{
                                                margin: auto;
                                            }
                                        }
    
                                        .more_data_prerequisites{
                                            margin: 0 auto;
                                            max-width: fit-content;
                                            padding: 1.2rem 6rem;
                                            box-shadow: 0 0 1.7rem var(--MoreDataBoxShadow) inset;
                                        }
    
                                        .course_action{
                                            margin-top: 1em;
                                            display: flex;
                                            justify-content: space-around;
    
                                            .is_fav{
                                                border-radius: 100%;
                                                color: var(--buttonFont);
                                                font-size: 1em;
                                                box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
                                                padding: 0.5rem 1rem;
                                                background: #909090;
                                                text-align: center;
                                                transition: 0.2s ease;
                                            }
    
                                            .is_fav:focus, .is_fav:hover{
                                                box-shadow: 0 0 1em 0 rgba($color: red, $alpha: 1);
                                                background: rgba($color: red, $alpha: 0.8);
                                            }
    
                                            .add_to_list{
                                                color: var(--buttonFont);
                                                font-size: 1.1rem;
                                                box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
                                                padding: 0.5rem 1rem;
                                                background: #909090;
                                                text-align: center;
                                                transition: 0.2s ease;
                                            }
    
                                            .add_to_list:focus, .add_to_list:hover{
                                                box-shadow: 0 0 1em 0 rgba($color: blue, $alpha: 0.5);
                                                background: rgba($color: blue, $alpha: 0.5);
                                            }
                                        }
                                    }
                                }
                            }
    
                            .more_data_resource_container{
                                overflow-x: hidden;
                            }
                        }
                    }
                }
            
                .start_from_level{
                    color: var(--buttonFont);
                    font-size: 1em;
                    box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
                    padding: 0.5rem 1rem;
                    background: #909090;
                    text-align: center;
                    transition: 0.2s ease;
                }

                .start_from_level:focus, .start_from_level:hover{
                    box-shadow: 0 0 1em 0 rgba($color: rgb(200, 200, 150), $alpha: 1);
                    background: rgba($color: rgb(200, 200, 150), $alpha: 0.8);
                }
            }

            #intermediate{
                margin:2em 0;
            }
        }
    }
}








@media (min-width:900px){
    body{
        
        .main_container{

            #container{

                #levels{

                    .level{

                        .for_scroll_btns{

                            .resources_area{
    
                                .more_data_resources{
    
                                    .fetching_data_text{
                                        top: 50%;
                                        left: 44%;
                                    }
                                }
                                
                                .resources{
                                    min-width: 100%;
                                    
                                    .resource_container{
                                        
                                        .resource_details{
                                            flex-direction: row;
                                            min-width: 100%;
                                            
                                            .demo_player{
                                                width: 64%;
                                                min-height: 36%;
                                            }
    
                                            .more_data_demo_player{
                                                box-shadow: 0 0 10em var(--MoreDataBoxShadow) inset;
                                                margin: auto;
                                                max-width: 60%;
                                                padding: 10em 0;
                                            }
    
                                            .more_data_description{
                                                margin: 1rem auto;
    
                                                .more_data_some_text{
                                                    padding: 5rem 10em;
                                                    box-shadow: 0 0 5rem var(--MoreDataBoxShadow) inset;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }

                    #intermediate{
                        
                        .for_scroll_btns{

                            .resources_area{

                                .resources{
        
                                    .resource_container{
        
                                        .resource_details{
        
                                            .demo_player{
                                                order: 1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
