body{
    --buttonFont : #fff;
    --inputFont : #000;
    --headerBg : #909090;
    --logoFont : #fff;
    --base : rgb(225, 220, 225);
    --baseFont : blue;
    --boxShadow : #000;
    --inputBoxShadow : #fff;
    --buttonBoxShadow : #fff;
    --inputBg: #909090;
    --footerFont : #fff;

    --themeBoxShadow : 0 0 2em 0 #000 inset;
    --themeBg : #fff;
    --themeFont : #000;

    --navBg : #909090;
    --navBoxShadow : 0 0 1em 0 #151515 inset;

    --navBorderCol : var(--headerBg);

    --SwitchBg : #fff;
    --SwitchBoxShadow : 0 0 2em #000 inset;
    --SwitchFont : #000;

    --MoreDataBoxShadow : #999999;
}

body.dark{
    --MoreDataBoxShadow : #909090;

    --navBorderCol : #fff;

    --navBg : #151515;
    --navBoxShadow : 0 0 1em 0 #fff inset;

    --themeFont : #fff;
    --themeBoxShadow : 0 0 1em 0 #fff inset;
    --themeBg : #000;
    --buttonFont : #fff;
    --inputFont : #000;
    --headerBg : #909090;
    --logoFont : #fff;
    --base : #000;
    --baseFont : #fff;
    --boxShadow : #fff;
    --inputBoxShadow : #fff;
    --buttonBoxShadow : #fff;
    --inputBg: #909090;
    --footerFont : #151515;

    --SwitchBg : #000;
    --SwitchBoxShadow : 0 0 1em #fff inset;
    --SwitchFont : #fff;
}


*{
    transition: 1s;
    outline: 0;
    border: 0;
    margin: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--baseFont);
    box-sizing: border-box;
    border-radius: 6px;
}

a{
    text-decoration: none;
}





body{
    width: 100%;
    min-height: 100vh;
    background: var(--base);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    header{
        width: 100%;
        margin-bottom: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        
        .main{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            box-shadow: 0 0 1em 0 var(--boxShadow) inset;
            background: var(--headerBg);
            display: flex;
            padding: 0.5em 0;
            justify-content: space-evenly;
            
            #logo{
                color: var(--logoFont);
                font-size: 1.5rem;
            }

        }


        .nav{
            margin-bottom: 1em;
            display: flex;
            
            #nav_section{
                background: var(--navBg);
                box-shadow: var(--navBoxShadow);
                margin-right: 2em;
                margin-top: 0.5em;
                display: none;
                margin-left: auto;

                ul{
                    display: flex;
                    flex-direction: column;
                    
                    a{
                        transition: 0.5s;
                        padding: 0.5em;
                        
                        li{
                            font-size: 1.1rem;
                            list-style: none;
                        }
                    }

                    a:hover{
                        background: #959595;
                        box-shadow: 0 0 0.5em 0 var(--boxShadow) inset;
                        
                        li{
                            color: #000;
                        }
                    }

                }
            }

            .nav_box{
                margin-left: auto;
                margin-right: 0.5em;
                margin-top: 0.5em;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                
                .nav_line{
                    box-shadow: 0 0 0.15em 0 var(--boxShadow);
                    margin: 3px 0;
                    background: var(--navBorderCol);
                    border: 3px solid var(--navBorderCol);
                    width: 30px;
                }
            }
        }
    }


    #switch{
        margin-top: auto;
        color: var(--SwitchFont);
        margin-left: auto;
        margin-right: 1em;
        margin-bottom: 1em;
        transition: 1s;
        width: 48px;
        height: 48px;
        box-shadow: var(--SwitchBoxShadow);
        border-radius: 100%;
        background: var(--SwitchBg);
    }


    footer{
        padding: 3px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background: var(--headerBg);
        box-shadow: 0 0 1em 0 var(--boxShadow) inset;
        font-size: 1rem;

        p{
            text-align: center;
            color: var(--footerFont);
        }
    }
}



@media(min-width:950px){
    body{

        header{
            .nav{
                
                #nav_section{
                    display: flex;
                    
                    ul{
                        flex-direction: row;
                    }
                }

                .nav_box{
                    display: none;  
                }
            }
        }
    }
}