* {
  outline: 0;
  border: 0;
  margin: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 6px;
}

a {
  text-decoration: none;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .main {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-box-shadow: 0 0 1em 0 #fff;
          box-shadow: 0 0 1em 0 #fff;
  background: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5em 0;
}

body header .main #logo {
  font-size: 1.5rem;
}

body header .main #sign_in {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: rgba(255, 0, 0, 0.8);
  text-align: center;
  padding: 0.4rem 1rem 0.5rem 1rem;
  -webkit-box-shadow: 0 0 0.3em 0 #fff;
          box-shadow: 0 0 0.3em 0 #fff;
}

body header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .nav #only_html {
  font-size: 1rem;
  text-align: center;
  margin-top: 1em;
  margin-left: 1em;
  -webkit-transition: 5s ease;
  transition: 5s ease;
  background: none;
  color: #000;
}

body header .nav #with_css {
  font-size: 1rem;
  text-align: center;
  margin-top: 1em;
  margin-left: 1em;
  -webkit-transition: 5s ease;
  transition: 5s ease;
  background: none;
  color: #fff;
}

body header .nav .nav_box {
  margin-left: auto;
  margin-right: 1em;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header .nav .nav_box .nav_line {
  -webkit-box-shadow: 0 0 0.45em 0 #fff;
          box-shadow: 0 0 0.45em 0 #fff;
  margin: 3px 0;
  border: 3px solid #fff;
  width: 30px;
}

body main .form form {
  min-height: 100%;
  border: 1px solid blue;
  -webkit-box-shadow: 0 0 1em 0 #fff;
          box-shadow: 0 0 1em 0 #fff;
  padding: 1em;
  max-width: 75%;
  margin: 0 auto;
}

body main .form form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

body main .form form .container .description {
  text-align: center;
}

body main .form form .container .description p {
  font-size: 1rem;
}

body main .form form .container .description h1 {
  font-size: 1.4rem;
}

body main .form form .container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

body main .form form .container .wrapper #goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3em;
}

body main .form form .container .wrapper #goal #label_for_goal {
  font-size: 1rem;
}

body main .form form .container .wrapper #goal select {
  -webkit-box-shadow: 0 0 1em 0 #fff inset;
          box-shadow: 0 0 1em 0 #fff inset;
  font-size: 1.1rem;
  padding-left: 6px;
  background: #909090;
  color: #000;
}

body main .form form .container .wrapper #pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.5em;
}

body main .form form .container .wrapper #pc .radio_span label {
  font-size: 1rem;
}

body main .form form .container .wrapper #pc #dont {
  display: none;
}

body main .form form .container .wrapper #time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1rem;
}

body main .form form .container .wrapper #time input {
  max-width: 25%;
  color: #000;
  background: #909090;
  -webkit-box-shadow: 0 0 1em 0 #fff inset;
          box-shadow: 0 0 1em 0 #fff inset;
  padding: 0.2em;
}

body main .form form .container .wrapper #time select {
  -webkit-box-shadow: 0 0 1em 0 #fff inset;
          box-shadow: 0 0 1em 0 #fff inset;
  color: #000;
  background: #909090;
}

body main .form form .container .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .form form .container .submit #submit {
  font-size: 1.1rem;
  -webkit-box-shadow: 0 0 0.3em 0 #fff inset;
          box-shadow: 0 0 0.3em 0 #fff inset;
  padding: 0.5rem 1rem;
  background: #959595;
  text-align: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body main .form form .container .submit #submit:focus {
  scale: 0.92;
  -webkit-box-shadow: 0 0 0.3em 0 #fff;
          box-shadow: 0 0 0.3em 0 #fff;
}

body footer {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
  background: #151515;
  -webkit-box-shadow: 0 0 1em 0 #fff;
          box-shadow: 0 0 1em 0 #fff;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */