body {
  --buttonFont: #fff;
  --inputFont: #000;
  --headerBg: #909090;
  --logoFont: #fff;
  --base: rgb(225, 220, 225);
  --baseFont: blue;
  --boxShadow: #000;
  --inputBoxShadow: #fff;
  --buttonBoxShadow: #fff;
  --inputBg: #909090;
  --footerFont: #fff;
  --themeBoxShadow: 0 0 2em 0 #000 inset;
  --themeBg: #fff;
  --themeFont: #000;
  --navBg: #909090;
  --navBoxShadow: 0 0 1em 0 #151515 inset;
  --navBorderCol: var(--headerBg);
}

body.dark {
  --navBorderCol: #fff;
  --navBg: #151515;
  --navBoxShadow: 0 0 1em 0 #fff inset;
  --themeFont: #fff;
  --themeBoxShadow: 0 0 1em 0 #fff inset;
  --themeBg: #000;
  --buttonFont: #fff;
  --inputFont: #000;
  --headerBg: #909090;
  --logoFont: #fff;
  --base: #000;
  --baseFont: #fff;
  --boxShadow: #fff;
  --inputBoxShadow: #fff;
  --buttonBoxShadow: #fff;
  --inputBg: #909090;
  --footerFont: #151515;
}

* {
  -webkit-transition: 1s;
  transition: 1s;
  outline: 0;
  border: 0;
  margin: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--baseFont);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--base);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header {
  width: 100%;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .main {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-box-shadow: 0 0 1em 0 var(--boxShadow) inset;
          box-shadow: 0 0 1em 0 var(--boxShadow) inset;
  background: var(--headerBg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5em 0;
}

body header .main #logo {
  color: var(--logoFont);
  font-size: 1.5rem;
}

body header .main #sign_in {
  color: var(--buttonFont);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: rgba(255, 0, 0, 0.8);
  text-align: center;
  padding: 0.4rem 1rem 0.5rem 1rem;
  -webkit-box-shadow: 0 0 0.4em 0 var(--boxShadow);
          box-shadow: 0 0 0.4em 0 var(--boxShadow);
}

body header .nav {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .nav #nav_section {
  background: var(--navBg);
  -webkit-box-shadow: var(--navBoxShadow);
          box-shadow: var(--navBoxShadow);
  margin-right: 2em;
  margin-top: 0.5em;
  display: none;
  margin-left: auto;
}

body header .nav #nav_section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header .nav #nav_section ul a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0.5em;
}

body header .nav #nav_section ul a li {
  font-size: 1.1rem;
  list-style: none;
}

body header .nav #nav_section ul a:hover {
  background: #959595;
  -webkit-box-shadow: 0 0 0.5em 0 var(--boxShadow) inset;
          box-shadow: 0 0 0.5em 0 var(--boxShadow) inset;
}

body header .nav #nav_section ul a:hover li {
  color: #000;
}

body header .nav .nav_box {
  margin-left: auto;
  margin-right: 0.5em;
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header .nav .nav_box .nav_line {
  -webkit-box-shadow: 0 0 0.15em 0 var(--boxShadow);
          box-shadow: 0 0 0.15em 0 var(--boxShadow);
  margin: 3px 0;
  background: var(--navBorderCol);
  border: 3px solid var(--navBorderCol);
  width: 30px;
}

body main {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .form_data_container {
  max-width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .form_data_container .data_info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0 auto;
  margin-right: 0;
  max-width: 60%;
  display: none;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .form_data_container .data_info p {
  max-width: 90%;
  margin: 0 auto;
  font-size: 1.1rem;
}

body main .form_data_container .data_info .sign_in_recommendation {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body main .form_data_container .data_info .sign_in_recommendation p {
  font-size: 1rem;
}

body main .form_data_container .data_info .sign_in_recommendation #sign_in_block {
  margin: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .form_data_container .data_info .sign_in_recommendation #sign_in_block #sign_in_left {
  width: 40%;
  height: 40%;
  border-top: 1px solid var(--baseFont);
  border-radius: 0;
  border-top-left-radius: 6px;
}

body main .form_data_container .data_info .sign_in_recommendation #sign_in_block a {
  color: var(--buttonFont);
  margin: 0 1em;
  background: rgba(255, 0, 0, 0.8);
  text-align: center;
  padding: 0.4rem 1rem 0.5rem 1rem;
  -webkit-box-shadow: 0 0 0.4em 0 var(--boxShadow);
          box-shadow: 0 0 0.4em 0 var(--boxShadow);
}

body main .form_data_container .data_info .sign_in_recommendation #sign_in_block #sign_in_right {
  width: 40%;
  height: 40%;
  border-top: 1px solid var(--baseFont);
  border-radius: 0;
  border-top-right-radius: 6px;
}

body main .form_data_container .data_info .sign_in_recommendation .why_sign_in {
  max-width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .form_data_container .data_info .sign_in_recommendation .why_sign_in .why span {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
}

body main .form_data_container .data_info .sign_in_recommendation .why_sign_in .why #main {
  display: block;
  font-size: 1.4rem;
}

body main .form_data_container .data_info .sign_in_recommendation .why_sign_in #and_block {
  margin: 0 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .form_data_container .data_info .sign_in_recommendation .why_sign_in #and_block #and_top {
  width: 2px;
  height: 40%;
  background: var(--baseFont);
}

body main .form_data_container .data_info .sign_in_recommendation .why_sign_in #and_block #and {
  margin: 0.25em 0;
  padding: 0.2em 0.4em;
  color: var(--base);
  background: #959595;
  -webkit-box-shadow: 0 0 1em 0 var(--boxShadow) inset;
          box-shadow: 0 0 1em 0 var(--boxShadow) inset;
}

body main .form_data_container .data_info .sign_in_recommendation .why_sign_in #and_block #and_bottom {
  width: 2px;
  height: 40%;
  background: var(--baseFont);
}

body main .form_data_container form {
  border: 0.5px solid blue;
  -webkit-box-shadow: 0 0 1em 0 var(--boxShadow);
          box-shadow: 0 0 1em 0 var(--boxShadow);
  margin: auto;
  max-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body main .form_data_container form > div {
  max-width: 90%;
  margin: 1em auto;
}

body main .form_data_container form .description {
  text-align: center;
}

body main .form_data_container form .description p {
  font-size: 1rem;
}

body main .form_data_container form .description h1 {
  font-size: 1.4rem;
}

body main .form_data_container form .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body main .form_data_container form .wrapper > div {
  max-width: 100%;
  margin: 0.55em 0;
}

body main .form_data_container form .wrapper #goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .form_data_container form .wrapper #goal #label_for_goal {
  font-size: 1rem;
}

body main .form_data_container form .wrapper #goal select {
  margin-top: 0.3em;
  -webkit-box-shadow: 0 0 1em 0 var(--inputBoxShadow) inset;
          box-shadow: 0 0 1em 0 var(--inputBoxShadow) inset;
  font-size: 1.1rem;
  padding-left: 6px;
  background: var(--inputBg);
  color: var(--inputFont);
}

body main .form_data_container form .wrapper #pc p {
  display: inline;
}

body main .form_data_container form .wrapper #time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1rem;
}

body main .form_data_container form .wrapper #time input {
  max-width: 25%;
  margin: 0 auto;
  color: var(--inputFont);
  background: var(--inputBg);
  -webkit-box-shadow: 0 0 1em 0 var(--inputBoxShadow) inset;
          box-shadow: 0 0 1em 0 var(--inputBoxShadow) inset;
  padding: 0.2em;
}

body main .form_data_container form .wrapper #time select {
  -webkit-box-shadow: 0 0 1em 0 var(--inputBoxShadow) inset;
          box-shadow: 0 0 1em 0 var(--inputBoxShadow) inset;
  color: var(--inputFont);
  background: var(--inputBg);
}

body main .form_data_container form .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .form_data_container form .submit #submit {
  color: var(--buttonFont);
  font-size: 1.1rem;
  -webkit-box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
          box-shadow: 0 0 1em 0 var(--buttonBoxShadow) inset;
  padding: 0.5rem 1rem;
  background: #909090;
  text-align: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body main .form_data_container form .submit #submit:focus {
  scale: 0.92;
  -webkit-box-shadow: 0 0 0.3em 0 var(--boxShadow);
          box-shadow: 0 0 0.3em 0 var(--boxShadow);
}

body #switch {
  margin-top: auto;
  color: var(--themeFont);
  margin-left: auto;
  margin-right: 1em;
  margin-bottom: 1em;
  -webkit-transition: 1s;
  transition: 1s;
  width: 48px;
  height: 48px;
  -webkit-box-shadow: var(--themeBoxShadow);
          box-shadow: var(--themeBoxShadow);
  border-radius: 100%;
  background: var(--themeBg);
}

body footer {
  padding: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--headerBg);
  -webkit-box-shadow: 0 0 1em 0 var(--boxShadow) inset;
          box-shadow: 0 0 1em 0 var(--boxShadow) inset;
  font-size: 1rem;
}

body footer p {
  text-align: center;
  color: var(--footerFont);
}

@media (min-width: 950px) {
  body header .nav #nav_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header .nav #nav_section ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body header .nav .nav_box {
    display: none;
  }
  body main .form_data_container {
    max-width: 90%;
    -webkit-box-shadow: 0 0 1em 0 var(--boxShadow) inset;
            box-shadow: 0 0 1em 0 var(--boxShadow) inset;
  }
  body main .form_data_container .data_info {
    max-width: 62%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .form_data_container form {
    max-width: 32%;
    margin-right: auto;
  }
}

@media (min-width: 1150px) {
  body main .form_data_container {
    max-width: 100%;
  }
  body main .form_data_container .data_info {
    max-width: 60%;
  }
  body main .form_data_container form {
    max-width: 30%;
  }
}

@media (min-width: 400px) {
  body main {
    margin: 2em;
  }
}
/*# sourceMappingURL=main.css.map */