*{
    outline: 0;
    border: 0;
    margin: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    box-sizing: border-box;
    border-radius: 6px;
    transition: 5s ease;
}

a{
    text-decoration: none;
}

body{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;


    header{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        
        .main{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            box-shadow: 0 0 1em 0 #fff;
            background: #151515;
            display: flex;
            justify-content: space-around;
            padding: 0.5em 0;

            #logo{
                font-size: 1.5rem;
            }
    
            #sign_in{
                align-self: center;
                background: rgba(255, 0, 0, 0.8);
                text-align: center;
                padding: 0.4rem 1rem 0.5rem 1rem;
                box-shadow: 0 0 0.3em 0 #fff;
            }
        }


        .nav{
            display: flex;

            h2{
                font-size: 1rem;
                text-align: center;
                margin-top: 1em;
                margin-left: 1em;
                transition: 0.5s ease;
                background: none;
                color: #fff;

                #only{
                    transition: 0.5s ease;
                    visibility: hidden;
                }

                #with_css{
                    transition: 0.5s ease;
                    color: #fff;
                }
            }

            .nav_box{
                margin-left: auto;
                margin-right: 1em;
                margin-top: 1em;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                
                .nav_line{
                    box-shadow: 0 0 0.45em 0 #fff;
                    margin: 3px 0;
                    border: 3px solid #fff;
                    width: 30px;
                }
            }
        }
    }

    main{
        
        .form{

            form{
                border: 1px solid blue;
                box-shadow: 0 0 1em 0 #fff;
                padding: 1em;
                max-width: 70%;
                margin: 0 auto;
                
                .container{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-around;
                    gap: 2em;

                    .description{
                        text-align: center;
                        
                        p{
                            font-size: 1rem;
                        }

                        h1{
                            font-size: 1.4rem;
                        }
                    }

                    .wrapper{
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-between;
                        gap: 1em;

                        #goal{
                            display: flex;
                            flex-direction: column;
                            gap: 0.3em;

                            #label_for_goal{
                                font-size: 1rem;
                            }

                            select{
                                box-shadow: 0 0 1em 0 #fff inset;
                                font-size: 1.1rem;
                                padding-left: 6px;
                                background: #909090;
                                color: #000;
                            }
                        }

                        #pc{
                            display: flex;
                            justify-content: space-around;
                            gap: 0.5em;

                            .radio_span{
                                
                                label{
                                    font-size: 1rem;
                                }
                            }

                            #dont{
                                display: none;
                            }
                        }

                        #time{
                            display: flex;
                            justify-content: space-around;
                            font-size: 1rem;

                            input{
                                max-width: 25%;
                                color: #000;
                                background: #909090;
                                box-shadow: 0 0 1em 0 #fff inset;
                                padding: 0.2em;
                            }

                            select{
                                box-shadow: 0 0 1em 0 #fff inset;
                                color: #000;
                                background: #909090;
                            }
                        }

                    }

                    .submit{
                        display: flex;
                        justify-content: space-around;

                        #submit{
                            font-size: 1.1rem;
                            box-shadow: 0 0 0.3em 0 #fff inset;
                            padding: 0.5rem 1rem;
                            background: #959595;
                            text-align: center;
                            transition: 0.2s ease;
                        }

                        #submit:focus{
                            scale: 0.92;
                            box-shadow: 0 0 0.3em 0 #fff;
                        }
                    }
                }
            }
        }

    }

    footer{
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border: 0;
        background: #151515;
        box-shadow: 0 0 1em 0 #fff;
        text-align: center;
    }
}