* {
  outline: 0;
  border: 0;
  margin: 0;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 6px;
}

a {
  text-decoration: none;
}

body {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .main {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-box-shadow: 0 0 1em 0 #fff;
          box-shadow: 0 0 1em 0 #fff;
  background: #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5em 0;
}

body header .main #logo {
  font-size: 1.5rem;
}

body header .main #sign_in {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: rgba(255, 0, 0, 0.8);
  text-align: center;
  padding: 0.4rem 1rem 0.5rem 1rem;
  -webkit-box-shadow: 0 0 0.3em 0 #fff;
          box-shadow: 0 0 0.3em 0 #fff;
}

body header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .nav #only_html {
  font-size: 1rem;
  text-align: center;
  margin-top: 1em;
  margin-left: 1em;
  -webkit-transition: 5s ease;
  transition: 5s ease;
  background: none;
  color: #000;
}

body header .nav #with_css {
  font-size: 1rem;
  text-align: center;
  margin-top: 1em;
  margin-left: 1em;
  -webkit-transition: 5s ease;
  transition: 5s ease;
  background: none;
  color: #fff;
}

body header .nav .nav_box {
  margin-left: auto;
  margin-right: 1em;
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header .nav .nav_box .nav_line {
  -webkit-box-shadow: 0 0 0.45em 0 #fff;
          box-shadow: 0 0 0.45em 0 #fff;
  margin: 3px 0;
  border: 3px solid #fff;
  width: 30px;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .form_data_container {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .form_data_container .data_info {
  max-width: 60%;
  padding: 1em;
  display: none;
}

body main .form_data_container form {
  border: 1px solid blue;
  -webkit-box-shadow: 0 0 1em 0 #fff;
          box-shadow: 0 0 1em 0 #fff;
  margin: 0 auto;
  max-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body main .form_data_container form > div {
  max-width: 90%;
  margin: 1em auto;
}

body main .form_data_container form .description {
  text-align: center;
}

body main .form_data_container form .description p {
  font-size: 1rem;
}

body main .form_data_container form .description h1 {
  font-size: 1.4rem;
}

body main .form_data_container form .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

body main .form_data_container form .wrapper > div {
  max-width: 100%;
  margin: 0.55em 0;
}

body main .form_data_container form .wrapper #goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .form_data_container form .wrapper #goal #label_for_goal {
  font-size: 1rem;
}

body main .form_data_container form .wrapper #goal select {
  margin-top: 0.3em;
  -webkit-box-shadow: 0 0 1em 0 #fff inset;
          box-shadow: 0 0 1em 0 #fff inset;
  font-size: 1.1rem;
  padding-left: 6px;
  background: #909090;
  color: #000;
}

body main .form_data_container form .wrapper #pc p {
  display: inline;
}

body main .form_data_container form .wrapper #time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1rem;
}

body main .form_data_container form .wrapper #time input {
  max-width: 25%;
  margin: 0 auto;
  color: #000;
  background: #909090;
  -webkit-box-shadow: 0 0 1em 0 #fff inset;
          box-shadow: 0 0 1em 0 #fff inset;
  padding: 0.2em;
}

body main .form_data_container form .wrapper #time select {
  -webkit-box-shadow: 0 0 1em 0 #fff inset;
          box-shadow: 0 0 1em 0 #fff inset;
  color: #000;
  background: #909090;
}

body main .form_data_container form .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .form_data_container form .submit #submit {
  font-size: 1.1rem;
  -webkit-box-shadow: 0 0 0.3em 0 #fff inset;
          box-shadow: 0 0 0.3em 0 #fff inset;
  padding: 0.5rem 1rem;
  background: #959595;
  text-align: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body main .form_data_container form .submit #submit:focus {
  scale: 0.92;
  -webkit-box-shadow: 0 0 0.3em 0 #fff;
          box-shadow: 0 0 0.3em 0 #fff;
}

body footer {
  padding: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #151515;
  -webkit-box-shadow: 0 0 1em 0 #fff;
          box-shadow: 0 0 1em 0 #fff;
  text-align: center;
  font-size: 0.7rem;
}

@media (min-width: 950px) {
  body main .form_data_container {
    -webkit-box-shadow: 0 0 1em 0 #fff inset;
            box-shadow: 0 0 1em 0 #fff inset;
  }
  body main .form_data_container .data_info {
    display: inline;
    margin-left: auto;
    margin-right: 0;
  }
  body main .form_data_container form {
    margin-left: 0;
    max-width: 30%;
    margin-right: auto;
  }
}

/*
@media (orientation: landscape){
    body{
        main{
            .data_info{
                display: inline;
            }
            form{
                margin-left: 0;
            }
        }
    }
}*/
/*# sourceMappingURL=main.css.map */