*{
    outline: 0;
    border: 0;
    margin: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;

    header{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        
        .main{
            box-shadow: 0 0 1em 0 #fff;
            background: #151515;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            display: flex;
            justify-content: space-around;
            padding: 0.5em 0;

            #logo{
                font-size: 1.5rem;
            }
    
            #sign_in{
                align-self: center;
                background: rgba(255, 0, 0, 0.8);
                text-align: center;
                padding: 0.4em 1em 0.5rem 1rem;
                border-radius: 6px;
                box-shadow: 0 0 0.7em 0 #fff;
            }
        }

        .nav{
            margin-left: auto;
            margin-right: 1em;
            margin-top: 1em;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            
            .nav_line{
                box-shadow: 0 0 0.45em 0 #fff;
                margin: 3px 0;
                border-radius: 6px;
                border: 3px solid #fff;
                width: 30px;
            }
        }
    }

    main{
        
        .form{

            form{
                border: 1px solid blue;
                border-radius: 6px;
                box-shadow: 0 0 1em 0 #fff;
                padding: 1em;
                max-width: 70%;
                margin: 0 auto;
            }
        }
    }

    footer{
        border: 0;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background: #151515;
        box-shadow: 0 0 1em 0 #fff;
        text-align: center;
    }
}