.greet_user{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0 1em var(--boxShadow);
    display: none;
    flex-flow: row nowrap;

    .sign_out_err{
        display: none;
        margin: auto;
    }

    .sign_out_err_visible{
        display: block;
    }

    .user_dp{
        margin: 0.25em auto;
        margin-right: 0;
        max-width: 8%;
        border-radius: 100%;
        cursor: pointer;
    }

    .username{
        margin: auto 1em;
        font-weight: bold;
        font-style: italic;
    }
}

.sign_in_box{
    box-shadow: 0 0 1em var(--boxShadow);
    border-bottom: 0.1px solid blue;
    transition: 0.5s ease-out;
    display: flex;
    flex-flow: column nowrap;
    height: 0;
    visibility: hidden;
    border-radius: 100%;

    p{
        transition: none;
        margin: 0.5em auto;
        font-size: 1.1rem;
    }

    .login_providers_box{
        transition: 0.2s ease;
        margin: auto;
        margin-bottom: 0.5em;
        display: flex;
        max-width: 10%;
        border-radius: 100%;
        box-shadow: 0 0 1em var(--boxShadow) inset;

        .login_provider{
            transition: none;
            cursor: pointer;
            max-width: 100%;
        }
        
        .login_provider:hover{
            transition: none;
            box-shadow: 0 0 1em var(--boxShadow);
            transform: scale(1.2);
        }
    }

    .retry_msg{
        display: none;
    }
}

.visible{
    border-radius: 6px;
    transition: 0.5s ease-in;
    visibility: visible;
    height: 100%;
}

.sign_in{
    visibility: hidden;
    cursor: pointer;
    color: var(--buttonFont);
    align-self: center;
    background: rgba(255, 0, 0, 0.8);
    text-align: center;
    padding: 0.4rem 1rem 0.5rem 1rem;
    box-shadow: 0 0 0.4em 0 var(--boxShadow);
}


.sign_out{
    display: none;
}


@media (min-width : 900px){

    .greet_user{
        
        .user_dp{
            max-width: 2%;
        }
    }
    .sign_in_box{
        flex-direction: row;

        p{
            margin: auto;
        }

        .login_providers_box{
            margin: 0.5em auto;
            max-width: 4%;
        }
    }
}